<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: mainnav"></nav>

<form method="post" style="max-width:600px;" th:object="${task}">
    <div class="form-group">
        <input placeholder="Name" class="form-control" th:field="*{name}" required="required"/>
        <span th:errors="*{name}" class="error"></span>
    </div>

    <input type="submit" value="Add Task" />
</form>

</body>
</html>